name: GitHub Snake Game

on:
    schedule:
        - cron: "0 0 * * *"
    workflow_dispatch:
    push:
        branches:
            - src # Chạy khi có thay đổi ở nhánh src

jobs:
    generate:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3
              with:
                  ref: src # Đảm bảo đang đứng ở nhánh src

            - name: Generate GitHub Contributions Snake Animations
              uses: Platane/snk@v3
              with:
                  github_user_name: ${{ github.repository_owner }}
                  outputs: |
                      dist/snake.svg
                      dist/snake-dark.svg?palette=github-dark
                      dist/ocean.gif?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9
              env:
                  GITHUB_TOKEN: ${{ secrets.TOKEN }}

            - name: Push Snake to src branch
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "github-actions[bot]@users.noreply.github.com"

                  # Tạo thư mục chứa ảnh nếu chưa có
                  mkdir -p assets/snake

                  # Copy file từ dist vào assets/snake
                  cp dist/* assets/snake/

                  git add assets/snake/*
                  git commit -m "feat: update snake animation [skip ci]" || exit 0
                  git push origin src
              env:
                  GITHUB_TOKEN: ${{ secrets.TOKEN }}
